.game-page {
  margin-top: 0 !important;
  margin-bottom: 15px;
}

.game-page__game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-page__game {
  padding: 0 7.5px !important;
}

.game-page__control {
  padding: 0 7.5px !important;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  max-width: 660px !important;
  height: 100%;
  margin: auto;
  margin-bottom: 0;
  padding: 15px !important;
}

.control__room {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control__room h5 {
  margin-bottom: 0;
}

.control__room button {
  background-color: #ff0000;
  display: flex;
  align-items: center;
  gap: 7.5px;
  border-radius: 3.75px;
  padding: 9px 12px;
}

.control__player {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.5px;
}

.player {
  border-radius: 6px;
  padding: 7.5px;
  font-weight: 900;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.player.player--0 {
  color: #00a8ff;
}

.player.player--1 {
  color: #ffa800;
}

.player.player--2 {
  color: #549c00;
}

.player.player--3 {
  color: #ff0000;
}

.control__action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.5px;
}

.control__action button {
  border-radius: 3.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75px;
  white-space: nowrap;
}

.control__logs .logs-box {
  height: 312px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 7.5px;
}
